<div class="jumbotron">
	<h1>Sit helps you build steady relationships.</h1>
	<%= link_to "Try now, it's free!", "#", class: "btn btn-primary" %>
</div>

<div class="row text-center">
	<div class="col-lg-12">
		<h3>Keep in contact by sharing relevant articles</h3>
	</div>
</div>

<div class="row text-center">
	<div class="col-md-4 col-sm-6 hero-feature">
		<div class="thumbnail">
			<img src="http://placehold.it/800x500" alt="">
			<div class="caption">
				<h3>Collect contacts</h3>
				<p>Scan your contact's business cards with Evernote. We'll create a rich note, spiced up with your contact's LinkedIn information. Feel free to add custom information by yourself.</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-6 hero-feature">
		<div class="thumbnail">
			<img src="http://placehold.it/800x500" alt="">
			<div class="caption">
				<h3>Collect content</h3>
				<p>Keep hold of great content articles you find on the web by using our bookmarklet.</p>
				<p></p>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-6 hero-feature">
		<div class="thumbnail">
			<img src="http://placehold.it/800x500" alt="">
			<div class="caption">
				<h3>Share with the right contacts</h3>
				<p>Just pull <a title="Share with a friend" href="javascript:(function(){url='http://127.0.0.1:3000/suggest?url='+encodeURIComponent(window.location.href);op=function(){if(!window.open(url,'sit','location=1,scrollbars=0,toolbar=0,width=400,height=600')){location.href=url}};if(/Firefox/.test(navigator.userAgent)){setTimeout(op,0)}else{op()}})()"> in your bookmarks.</p>
			</div>
		</div>
	</div>
</div>
