<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <%= link_to root_path, class: "navbar-brand" do %>
      <img src="https://dl.dropboxusercontent.com/u/6677368/Logo%20orca.fw.png" width="150" alt="orca" />
    <% end %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>